body {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0;
   padding: 0;
   height: 100vh;
}

.containter {
   display: flex;
   justify-content: center;
   background-color: pink; /*! Сделал для лучшей видимости расположения */
   width: 80%;
}

.image-grid {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 10px;
}

.image-grid img {
   box-sizing: border-box;
   width: 200px;
   height: 200px;
   display: block;
   border: solid rgb(70, 70, 70) 5px;
   border-radius: 50%;
   transition: 0.5s;
}

.image-grid img:nth-child(4n + 1) {
   border-color: red;
}

.image-grid img:hover {
   border-color: yellow;
   transform: rotate(45deg);
   transition: 0.5s;
}
